@use "../node_modules/@fullstacked/ui/values/colors.scss" as c;

.cm-container {
    -webkit-text-size-adjust: 100%;
    
    .cm-editor,
    .cm-gutters {
        background-color: c.$dark !important;
    }

    &.read-only {
        .cm-activeLine,
        .cm-activeLineGutter {
            background-color: transparent !important;
        }
    }
}
