@use "../node_modules/@fullstacked/ui/values/spacing.scss" as s;
@use "../node_modules/@fullstacked/ui/values/colors.scss" as c;

.agent-chat {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: s.$small;
    overflow: hidden;

    form {
        margin: 0;
    }

    .conversation {
        flex: 1;
        overflow: auto;

        p,
        li {
            margin: s.$small 0;
        }

        code {
            background-color: c.$gray-dark;
            border-radius: s.$x-small;
            padding: 0 s.$x-small;
        }

        .code-block {
            width: 100%;
            position: relative;

            .actions {
                position: absolute;
                right: s.$small;
                top: s.$small;
            }
        }

        pre {
            background-color: c.$dark;
            border-radius: s.$x-small;
            overflow: auto;
            width: 100%;
            padding: s.$small;
            margin: s.$medium 0;
            
            > code {
                background-color: transparent;
            }
        }
    }
}
