@use "../node_modules/@fullstacked/ui/values/spacing.scss" as s;

.agent-configure {
    form {
        margin: 0;
    }
    .input-text,
    .input-select {
        margin-bottom: s.$small;
    }
}
.agent-configure-action-row {
    display: flex;
    align-items: center;
    > div {
        &:first-child {
            flex: 1;
        }
    }
}

.agent-headers-list {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            display: flex;
            gap: s.$small;
        }
    }
}
