@use "../node_modules/@fullstacked/ui/values/spacing.scss" as s;
@use "../node_modules/@fullstacked/ui/values/colors.scss" as c;

.workspace {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: c.$dark;

    > ul {
        margin: 0;
        list-style-type: none;
        display: flex;
        padding: 0;
        border-bottom: 1px solid c.$gray;
        > li {
            padding: s.$x-small s.$x-small s.$x-small s.$small;
            border-right: 1px solid c.$gray;
            display: flex;
            align-items: center;
            gap: s.$x-small;
            color: c.opacity(c.$light, 50);
            cursor: pointer;
            &.active {
                color: c.$light;
            }
        }
    }

    .workspace-view {
        flex: 1;
        overflow: auto;
        .cm-line:last-child {
            margin-bottom: calc(100% - 25px);
        }
    }
}
